
@{
    ViewData["Title"] = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="text-center">Nosotros somos nuestra historia</h1>
    <hr />
    <div>
        <p>
            La Piazzolla surgió a partir de la trayectoria de cinco años de experiencia del Taller de Música Rogelio Martínez. 
            En sus inicios éste toma ese nombre por la ubicación geográfica del barrio de la ciudad de Córdoba.
        </p>
        <p>
            Dio sus comienzos en el año 2015 y fue coordinado por una sociedad de profesores egresados del Conservatorio Félix T. Garzón, en el cual se dictaban clases de instrumentos y canto.
        </p>
        <p>
            A medida que transcurrieron los años, entre audiciones internas y conciertos abiertos, descubrimos que La Piazzolla había sido creada para explotar el talento musical de cada aspirante.
        </p>
        <p>
            Actualmente, la academia recibe a estudiantes de la ciudad de Córdoba de diferentes edades, ya sea niños, jóvenes o adultos, respondiendo a diferentes inquietudes y  planteando el desafío de desarrollar  el mayor potencial artístico de cada integrante.
        </p>
        <iframe height="460" src="https://www.youtube.com/embed/JW86TmPol_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="container-fluid"></iframe>
    </div>
</div>
@section scripts{
    <script>

    </script>
}